{% set attributes = extra_classes ? attributes.addClass(extra_classes) : attributes %}
{% set attributes = margin ? attributes.addClass(margin) : attributes %}

{% set attributes = attributes.setAttribute('id', component_id|default('modal-'~ random())) %}

{% set heading_level = heading_level|default(2) %}

{% set color_cl = 'text-current'  %}
{% set color_cl = color == 'primary' ? 'text-primary' : color_cl %}
{% set color_cl = color == 'secondary' ? 'text-secondary' : color_cl  %}
{% set color_cl = color == 'tertiary' ? 'text-tertiary' : color_cl  %}
{% set color_cl = color == 'black' ? 'text-black' : color_cl  %}
{% set color_cl = color == 'white' ? 'text-white' : color_cl  %}

<div {{ attributes.addClass(color_cl, 'cbd-default') }} style="background:{{ bg_color }}" >
  {% if title %}
  <h{{ heading_level }} class="cbd-title">
    {{ title }}
  </h{{ heading_level }}>
  {% endif %}
  {% if top %}
  <div class="cbd-default-top">
    {{ top }}
  </div>
  {% endif %}
  {% if content %}
    <div class="cbd-default-content">
      {{ content }}
    </div>
  {% endif %}
  {% if url %}
  <a href="{{ url }}">A simple link example</a>
  {% endif %}

</div>
